/* 
    Created on : 03-mar-2016, 18:52:47
    Author     : EduardoAC <Eduardo Aparicio Cardenes at Dream Maker Factory>
*/

body{
    margin: 0;
    padding: 0;
    background-color: #287B59; 
    color: white;
}
h1,p{
    text-align: center;
    margin-bottom: 5px;
}
.game-table{
    margin: auto;
}
.dealer{
    font-size: 20px;
    width: 500px;
    margin: auto;
}

.player{
    font-size: 20px;
    width: 500px;
    margin: auto;
}

.player > .actions{
    width: 100px;
    margin: 0 auto;
}

.hand{
    text-align: center;
    margin: 10px 0;
}

.table p, .player p, .dealer p{
    margin: 5px 0;
}
/*
* Spacing of the sprite in 
*   - X = -73px
*   - Y = -98px
*/
.card{
    background-image: url("images/blackjack_deck.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 73px;
    height: 97px;
    display: inline-block;
    /* float: left; */
}
.card.hidden{
    background: -webkit-repeating-linear-gradient(54deg, #606dbc, #606dbc 10px, #465298 10px, #465298 17px);
    background: repeating-linear-gradient(54deg, #606dbc, #606dbc 10px, #465298 10px, #465298 17px);
    border: 5px solid white;
    width: 63px;
    height: 87px;
}
.table{
    /* width: 400px; */
    /* height: 200px; */
    margin: auto;
}
.table .message{
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    min-height: 27px;
    padding: 30px 0;
}
